<!-- app/views/users/show.html.erb -->
<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<p>Password: *********</p>
<%= image_tag @user.avatar.variant(resize: "100x100") if @user.avatar.attached? %>
<%= link_to 'Edit Profile', edit_user_path %>